html
{
    height: 100%;
    width: 100%;
}
body
{
    margin: 0px;
    height: 100%;
    background-color: #F0FFFF;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -webkit-text-size-adjust: none;
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.clicker_box
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.clicker_button
{
    position: absolute;
    top: 21%;
    width: 49%;
    height: 59%;
    text-align: center;
    font-size: 30pt;
}
.clicker_button_left
{
    background-color: #58ACFA;
    left: 0px;
}
.clicker_button_right
{
    background-color: #8ed465;
    right: 0px;
}
.send_button
{
    position: absolute;
    bottom: 0px;
    height: 19%;
    width: 100%;
    background-color: #BDBDBD;
    text-align: center;
    font-size: 30pt;
}
.clicker_button_menu
{
    background-color: #BDBDBD;
    text-align: center;
    font-size: 30pt;
    width: 100%;
    height: 20%;
    position: absolute;
}
.clicker_block_menu
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #5882FA;
    display: none;
}
.menu_button_close
{
    position: absolute;
    width: 100%;
    height: 19%;
    bottom: 0px;
    background-color: #BDBDBD;
    text-align: center;
    font-size: 30pt;
}